---
'@rosen-chains/evm': patch
---

Remove `maxPriorityFeePerGas` verification from `EvmChain.verifyTransactionFee`
