.idea
.changeset
**/node_modules
.npmignore
eslint.config.mjs
vitest.shared.ts
.nyc_output
**/coverage
**/dir
**/build
**/dist
**/logs
**/tests
**/docker*
**/Dockerfile
.dockerignore
**/.env
**/.git*
**/.eslintignore
**/.prettierignore
**/*.md
.husky
.lintstagedrc.*js
.prettierrc.json
**/vitest.config.ts
**/peer-dialer*.json
scratch
