.idea
.changeset
.github
.gitlab
**/node_modules
.nyc_output
**/coverage
**/dir
**/build
**/dist
**/logs
**/tests
docker*
**/Dockerfile
.dockerignore
**/.env
.git*
.eslintignore
**/*.md
.husky
.lintstagedrc.*js
.prettierrc.json
**/vitest.config.ts
**/peer-dialer*.json
scratch
