image: node:22.18

default:
  interruptible: true

stages:
  - installation
  - ci

variables:
  npm_config_cache: '${CI_PROJECT_DIR}/.npm'
  NPM_VERSION: '11.6.2'

before_script:
  - npm i -g npm@${NPM_VERSION}

installation:
  stage: installation
  cache:
    key: ${CI_COMMIT_REF_NAME}
    policy: push
    paths:
      - node_modules
      - .npm
  script:
    - npm ci

knip:
  stage: ci
  cache:
    key: ${CI_COMMIT_REF_NAME}
    policy: pull
    paths:
      - node_modules
      - .npm
  script:
    - npm run knip

type_check:
  stage: ci
  cache:
    key: ${CI_COMMIT_REF_NAME}
    policy: pull
    paths:
      - node_modules
      - .npm
  script:
    - npm run type-check

lint:
  stage: ci
  cache:
    key: ${CI_COMMIT_REF_NAME}
    policy: pull
    paths:
      - node_modules
      - .npm
  script:
    - npm run lint:check

test:
  stage: ci
  cache:
    key: ${CI_COMMIT_REF_NAME}
    policy: pull
    paths:
      - node_modules
      - .npm
  script:
    - npm run coverage
  coverage: '/All files[^|]*\|[^|]*\s+([\d\.]+)/'
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage/cobertura-coverage.xml

changeset:
  stage: ci
  cache:
    key: ${CI_COMMIT_REF_NAME}
    policy: pull
    paths:
      - node_modules
      - .npm
  before_script:
    - git fetch origin dev
    - npm i -g npm@${NPM_VERSION}
  script:
    - npx changeset status --since=origin/dev
