---
api:
  isManualTxRequestActive: true
  apiKeyHash: '324dcf027dd4a30a932c441f365a25e86b173defa4b8e58948253471b81b72cf'
bitcoin:
  networkType: 'testnet'
  chainNetwork: 'esplora'
  esplora:
    url: 'https://blockstream.info'
    timeout: 8
  bankPublicKey: 'bcb07faa6c0f19e2f2587aa9ef6f43a68fc0135321216a71dc87c8527af4ca6a'
  txFeeSlippage: 10
  confirmation:
    observation: 6
    payment: 7
    cold: 8
    manual: 5
  tssChainCode: 'BitcoinChainCode'
  derivationPath:
    - 82
    - 84
    - 0
    - 0
cardano:
  networkType: 'testnet'
  chainNetwork: 'koios'
  blockfrost:
    projectId: ''
  koios:
    url: 'https://testnet.koios.rest/api/v0'
  bankPublicKey: 'bcb07faa6c0f19e2f2587aa9ef6f43a68fc0135321216a71dc87c8527af4ca6a'
  minUtxoValue: '1551690'
  fee: '200000'
  txTtl: 1000000
  confirmation:
    observation: 10
    payment: 15
    cold: 20
ergo:
  networkType: 'testnet'
  chainNetwork: 'node'
  node:
    url: 'http://213.239.193.208:9053/'
  minBoxValue: '100000'
  additionalErgOnPayment: '1000000000' # additional erg payment for events that are targeted to Ergo
  fee: '1100000'
  confirmation:
    observation: 25
    event: 30
    payment: 35
    cold: 40
reward:
  bridgeFeeRepoAddress: '9gtQHPp8yh2SC7z5ZLMHnK2NNW1DUW11hBKbUEADzqCSrECoQQM'
  RSNEmissionAddress: '9gH92yjsJCBHwx4fDbXe6j8jLdDBMX3dm6nqwiHhUqyxgNKXmoK'
  networkFeeRepoAddress: '9es3xKFSehNNwCpuNpY31ScAubDqeLbSWwaCysjN1ee51bgHKTq'
  watchersSharePercent: 50
  watchersRSNSharePercent: 20
guard:
  mnemonic: ''
txSignTimeout: 1
p2p:
  peerIdFilePath: './peer-dialer.json'
contracts:
  addressesBasePath: 'tests/resources/addresses/'
logs:
  - type: 'console'
    level: 'error'
coldStorage:
  startHour: 17
  endHour: 19
tokensPath: 'tests/resources/tokens.test.json'
thresholdsPath: 'tests/resources/threshold.test.json'
